/* Common CSS */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.letter-color {
    color: #FD6E0A;
}

/* NavBar CSS */
#navbar {
    background: #FFF8F3;
}
.nav-area {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.logo h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
}

.menu ul li {
    display: inline-block;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

.menu ul li a {
    color: #fff;
    background: #FD6E0A;
    padding: 18px 35px;
    display: block;
    border-radius: 5px;
}